<TabBar
  [hidden]="hidden"
  [barTintColor]="'#eee'"
  [tintColor]="tintColor"
  [ngStyle]="tabbarStyle"
  [activeTab]="selectedIndex"
  [unselectedTintColor]="unselectedTintColor"
  [tabBarPosition]="'bottom'"
  (onPress)="tabBarTabOnPress($event)"
>
  <TabBarItem [title]="'工作'" [key]="1" [icon]="icon1" [selectedIcon]="icon11">
    <ng-template #icon1>
      <div
        style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/sifuoDUQdAFKAVcFGROC.svg') center center / 21px 21px no-repeat;"
      ></div>
    </ng-template>
    <ng-template #icon11>
      <div
        style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/iSrlOTqrKddqbOmlvUfq.svg') center center / 21px 21px no-repeat;"
      ></div>
    </ng-template>
    <div style="background-color: white; height: 100%; text-align: center">
      <app-works></app-works>
    </div>
  </TabBarItem>
  <TabBarItem [title]="'数据'" [key]="2" [icon]="icon2" [selectedIcon]="icon22">
    <ng-template #icon2>
      <div
        style="width:22px;height: 22px;background: url('https://gw.alipayobjects.com/zos/rmsportal/BTSsmHkPsQSPTktcXyTV.svg') center center / 21px 21px no-repeat;"
      ></div>
    </ng-template>
    <ng-template #icon22>
      <div
        style="width:22px;height: 22px;background: url('https://gw.alipayobjects.com/zos/rmsportal/ekLecvKBnRazVLXbWOnE.svg') center center / 21px 21px no-repeat;"
      ></div>
    </ng-template>
    <div style="background-color: white; height: 100%; text-align: center">
      <app-datas></app-datas>
    </div>
  </TabBarItem>
  <TabBarItem [title]="'社区'" [key]="3" [icon]="icon2" [selectedIcon]="icon22">
    <ng-template #icon2>
      <div
        style="width:22px;height: 22px;background: url('https://gw.alipayobjects.com/zos/rmsportal/BTSsmHkPsQSPTktcXyTV.svg') center center / 21px 21px no-repeat;"
      ></div>
    </ng-template>
    <ng-template #icon22>
      <div
        style="width:22px;height: 22px;background: url('https://gw.alipayobjects.com/zos/rmsportal/ekLecvKBnRazVLXbWOnE.svg') center center / 21px 21px no-repeat;"
      ></div>
    </ng-template>
    <div style="background-color: white; height: 100%; text-align: center">
      <app-community></app-community>
    </div>
  </TabBarItem>
  <TabBarItem [title]="'我的'" [key]="4" [icon]="icon3" [selectedIcon]="icon33">
    <ng-template #icon3>
      <div
        style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/psUFoAMjkCcjqtUCNPxB.svg') center center / 21px 21px no-repeat;"
      ></div>
    </ng-template>
    <ng-template #icon33>
      <div
        style="width:22px;height: 22px;background: url('https://zos.alipayobjects.com/rmsportal/IIRLrXXrFAhXVdhMWgUI.svg') center center / 21px 21px no-repeat;"
      ></div>
    </ng-template>
    <div style="background-color: white; height: 100%; text-align: center">
      <app-personal></app-personal>
    </div>
  </TabBarItem>

</TabBar>
